@import "tailwindcss";

@laye base {
    @import url(https://fonts.googleapis.com/css?family=Comic+Neue:300,300italic,regular,italic,700,700italic);
}

body {
    font-family: "Comic Neue", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    @apply text-white;
}

.animated-border {
    border: 0px solid rgba(255, 255, 255, 0.35);
    animation: pulse-border 0.25s infinite ease-in-out;
}

@keyframes pulse-border {
    0%,
    100% {
        border-width: 12px;
    }
    50% {
        border-width: 20px;
    }
}
