@import "tailwindcss";

@laye base {
    @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    @apply text-white;
}

.animated-border {
    border: 0px solid rgba(255, 255, 255, 0.35);
    animation: pulse-border 0.25s infinite ease-in-out;
}

@keyframes pulse-border {
    0%,
    100% {
        border-width: 12px;
    }
    50% {
        border-width: 20px;
    }
}
