@import "tailwindcss";

@font-face {
    font-family: "PerfectDos";
    src: url("/src/assets/Perfect-DOS-VGA-437.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "PerfectDos", monospace;
    @apply bg-black/90 text-white;
}
